<div >
    <h1 class="p-5 d-none d-md-block " style="text-align: center;">Education & Work</h1>
    <div class=" container " >
        
            
            <div class="d-flex row">
                <div class="center_text"><h1 class="d-block d-md-none" >Education</h1></div>
                <div   class="col-sm-12 col-md-6 p-5">
                    <div class="d-flex  aline-items-center mb-5">
            
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">College of Engineering Dr.B.R.Ambedkar University (2018-2022)</span><br>
                            Bachelor of Technology   <br>
                            Electronics and Communication Engineering </b>
                        </p>
                    </div>
                
                    <div class="d-flex  aline-items-center mb-5">
                        
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">Sri ViswaJyothi Junior College  (2016-2018)</span><br>
                            Higher Secondary Education   <br>
                            Maths, Physics, and Chemistry(MPC)</b>
                        </p>
                    </div>
                
                    <div class="d-flex  aline-items-center mb-3">
                        
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">Government High School(GHS),Naupada (2015-2016)</span><br>
                            Secondary Education   <br>
                            </b>
                        </p>
                    </div>
                </div>
                
                <h1 class="d-block d-md-none " style="text-align: center;">Work</h1>
                <div class="col-sm-12 col-md-6 p-5 ">
                    <div class="d-flex  aline-items-center mb-5">
            
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">CCBP 4.0 Intensive Training(2021-Present)</span><br>
                            Full Stack Development Training   <br>
                             </b>
                        </p>
                    </div>
                
                    <div class="d-flex  aline-items-center mb-5">
                        
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">Progression Technologies  (2022-2022)</span><br>
                            Full Stack Development Internship   <br>
                            </b>
                        </p>
                    </div>
                
                    <div class="d-flex  aline-items-center mb-3">
                        
                        <div  style="border-left:5px solid #8856dd;border-top-right-radius:5px ; border-bottom-right-radius: 5px;"></div>
                        <p class="ml-3 text-left">
                            <b><span style="color: #8856dd;">Kwikbox (2021-2021)</span><br>
                            Web Development Internship  <br>
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        
    </div>
</div>

