<section id="sec-testimonials" class="sec-testimonials ">
    <div class="container">
      <h1 class=" mb-5 text-center" ><b>What other people speak about me</b></h1>
      <br>
      <br>
      
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        
        
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="row justify-content-center">
              <div class=" col-md-6">
                <blockquote class="blockquote">
                  <small>Anusha is very smart and passionate about technology. 
                      Her attention to detail in front end is impeccable. 
                      I have worked with her on some projects and I have learnt a lot from her.
                        She is dedicated and smart worker too.</small>
  
                  <footer class="blockquote-footer mt-2">Anudeep Kumar, Founder , Progression Technologies</footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>Anusha provided top quality, thoughtful and high impact design 
                      work with outstanding attention to detail. Her communication was 
                      excellent from the outset and showed a willingness to persevere 
                      until the perfect design was achieved. Obviously passionate about 
                      the work, a true professional. Wouldn’t hesitate to recommend.</small>
              
                  <footer class="blockquote-footer mt-2">Raja Shekar Reddy Vuyyuru, Full Stack Developer, Kwikbox </footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <blockquote class="blockquote">
                  <small>Anusha is an excellent resource, and a master at software development 
                    has been a real gem to clients and contacts, she had done so far, 
                    and we had synergically developed a couple of projects. 
                    She makes sure all the deadlines meet and also the highest standards. 
                    She is a hardworking and dedicated person who will complete your project 
                    in a given time frame. I would recommend and endorse Anusha.</small>
                    <br>
                  <footer class="blockquote-footer mt-2">Siva Santosh, SDE, People Tech Group Inc</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="fa fa-angle-left fa-2x"></span>
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="fa fa-angle-right fa-2x"></span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>