<div class="text-center">
    <h1>
        About Me
    </h1>
    <p>
        About Me
    </p>
</div>
<div class="container d-none d-md-block">
   <div class="row">
    <div class="d-flex flex-row justify-content-center ">
        <div class="col-lg-6  text-center ">
            <img src="./assets/anu.png" height="auto" width="250px" >
        </div>
        
        <div class="d-flex flex-column justify-content-center align-items-center  col-lg-6 ">
            <p>I am studying my Bachelor's degree in Electronics and Communication stream from Dr.B.R.Ambedkar University.
                I am very good at Digital Electronics & Logic Design, Signals & Systems and Analog & Digital communications .
                
                Apart from the technical subjects, I'm more inclined towords the computer programming languages like c language,Java and web technologies like HTML5, CSS3 and Javascript. In the near future, I had deceided to learn MySQL and Angular to give my skillset an added boost.
                
                I can't wait to get started on my career in Web Development.During my Higher Secondry Education, I had made up my mind to be a Web developer.
                Also, I've done certifications cources on web techonologies.

            </p>
            <a  href="./assets/Resume.pdf" target="_blank" class="btn " style="background-color:#8856dd ;color: whitesmoke; width:160px ;">
                Download CV <i class="fa-solid fa-down-to-bracket"></i>
            </a>
        </div>
    </div>
   </div>
</div>
<div class="container d-block d-md-none">
    <div class="text-center">
        <img src="./assets/anu.png" height="auto" width="250px" >
        <p>I am studying my Bachelor's degree in Electronics and Communication stream from Dr.B.R.Ambedkar University.
            I am very good at Digital Electronics & Logic Design, Signals & Systems and Analog & Digital communications .
            
            Apart from the technical subjects, I'm more inclined towords the computer programming languages like c language,Java and web technologies like HTML5, CSS3 and Javascript. In the near future, I had deceided to learn MySQL and Angular to give my skillset an added boost.
            
            I can't wait to get started on my career in Web Development.During my Higher Secondry Education, I had made up my mind to be a Web developer.
            Also, I've done certifications cources on web techonologies.

        </p>
        <a  href="./assets/Resume.pdf" target="_blank" class="btn " style="background-color:#8856dd ;color: whitesmoke; width:160px ;">
            Download CV <i class="fa-solid fa-down-to-bracket"></i>
        </a>
    </div>
</div>