
.contactButton {
	color: #8856dd ;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid #8856dd ;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #ffffff ;
	background-color: #8856dd ;
}