div{
    background-color: #8856dd;
    padding: 10px;
    font-family: 'Monospace';
    p{
        color: white;
    }
    h3{
        color: white;
    }
}

.button{
    background-color:whitesmoke ;color: #8856dd;
    padding: 10px;
    margin: 10px;
}

