<section class="portfolio">
    <div class="content">
      
      <h1><b>Projects</b></h1>
      
      <div class="projects">
        
        <div class="project">
          <div class="project-image">
            <img src="../../assets/qr.png" alt=""/>
          </div>
          <div class="project-title">
            <h2>QR Scanner</h2>
          </div>
          <div class="project-description">
            <p> Developed a QR Scanner to read barcodes from image or your mobile phone's camera 
              <br>
              - Designed page using Ionic Framework using the following components Header,Cards,Toolbar 
              <br>
              - Implemented the scanner Logic by Importing jsQR Library from angular
              <br>
              Technologies used: HTML, SCSS, Ionic, Angular
              <br>
              <br>
              Github Link: <a href="https://github.com/Anusha11621/QR-Scanner" ><b><i>QR Scanner</i></b></a>
             </p>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <img src="../../assets/todo.png" alt=""/>
          </div>
          <div class="project-title">
            <h2>Todo Application</h2>
          </div>
          <div class="project-description">
            <p>Developed persistent todo application with CRUD operations to track list of tasks
              <br>
              - Displayed list of todos with HTML list elements, styled todo list using CSS, Bootstrap
              <br>
              - Implemented todo crud operations by using JavaScript event listeners and updated UI dynamically by using JavaScript DOM operations.
              <br>
              - Used Arrays, Objects and their methods during todolist CRUD Operations, Persisted todo list state on page reloads using local storage methods.
              <br>
              Technologies used: HTML, CSS, JS, Bootstrap
              <br>
              <br>
              Live Link: <a href="https://todoappanusha.ccbp.tech/"><b><i>Todo Application</i></b></a>
            </p>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <img src="../../assets/food munch.png" alt=""/>
          </div>
          <div class="project-title">
            <h2>Food Munch</h2>
          </div>
          <div class="project-description">
            <p>  Developed a responsive website for Food Store where users can see a list of food items, detailed information about a food item, offers
              <br>
              - Designed page using following HTML structure elements like li, header, article, footer elements and different bootstrap components to show different sections in the website and different bootstrap classes for responsiveness through mobile-first approach.
              <br>
              - Implemented product youtube videos by using bootstrap embed and model components
              <br>
              Technologies used: HTML, CSS, Bootstrap
              <br>
              <br>
              Live Link : <a href="https://anufoodwebsite.ccbp.tech/"><b><i> Food Munch website</i></b></a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
