.home{
    margin: 20px;
}
.home_data{
    margin: 10px;
    font-family: 'Monospace';
}
.heading_subtitle{
    color: rgb(129, 129, 129);
    padding: 3px;
}
.social_media{
    margin: 10px;
}
.social_media_icons{
    padding: 10px;
    color:#8856dd ;
}